/*PALETTE:
$mdThemingProvider.definePalette('mcgpalette', {
  '50': '#ffffff',
  '100': '#fdfefe',
  '200': '#d1f2ee',
  '300': '#99e3d9',
  '400': '#81ddd0',
  '500': '#69d6c7',
  '600': '#51cfbe',
  '700': '#39c9b5',
  '800': '#31b2a1',
  '900': '#2a9a8b',
  'A100': '#ffffff',
  'A200': '#fdfefe',
  'A400': '#81ddd0',
  'A700': '#39c9b5',
  'contrastDefaultColor': 'light',
  'contrastDarkColors': '50 100 200 300 400 500 600 700 800 A100 A200 A400 A700'
});
*/

body {
    font-family: 'Fjalla One', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.showCard {
  /*background: hsla(0,0%,0%,.1);*/
  /*margin: 1em;*/
  /*min-width: 200px;*/
  /*padding: 1em;*/
}

.pulsating_poster {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.6;
    }
}

.poster {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #888888;
    outline: none;
    width: 167px;
    height: 251px;
    background: #F0F4C3;
    background: -webkit-linear-gradient(#F0F4C3, #CDDC39);
    background: -o-linear-gradient(#F0F4C3, #CDDC39);
    background: -moz-linear-gradient(#F0F4C3, #CDDC39);
    background: linear-gradient(#F0F4C3, #CDDC39);
}

.poster:active {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888888;
    color: #888888;
}

.calendar_card {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #888888;
    outline: none;
}

.calendar_card:active {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888888;
}

.wp {
    background-size: cover;
    transition: all .5s;
    width: 100%;
    color: white;
    position: absolute;
    left: 0;
    top: 50px;
}

.wp_gradient {
    color: white;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, white, transparent)
}

.back {
    position: absolute;
    right: 20px;
}

.bgColor {
    background: #67CACA
}

