html {
    background-color: rgba(43, 40, 45, 1);
    font-size: 100%;
}

@media (max-width: 1400px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 60%;
    }
}

body {
    font-family: 'Fjalla One', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(23, 20, 25, 0.9);
    overflow-x: hidden;
}

section {
    min-height: 101%;
    margin-top: 48px;
}

md-tab-content {
    background-color: rgba(23, 20, 25, 0.9);
}

::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: 0;
    /* or */
    outline: none;
}

@font-face {
    font-family: 'Fjalla One';
    src: url('../res/fonts/FjallaOne-Regular.otf') format('opentype');
}

.spinner {
    z-index: 99999;
    color: white;
    position: relative;
}

.md-nav-bar {
    z-index: 9999;
    position: fixed;
    background-color: rgba(43, 40, 45, 1) !important;
    left: 0;
    top: 0;
    width: 100%;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
    color: rgba(228, 247, 242, 0.54);
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 100%;
}

md-tabs .md-tab {
    color: rgba(255, 255, 255, 0.54);
}

.show_recap {
    color: rgba(255, 255, 255, 0.9); 
    text-align: center; 
    font-size: 1.2rem;
    width: 90%;
}

.white {
    color: white;
    font-size: 20px;
}

.card_title {
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    width: 100%;
}

.card_show_title {
    font-size: 1.2rem;
    color: rgba(43, 40, 45, 1);
    width: 100%;
}

.calendar_poster_container {
    width: 12rem;
    height: 17rem;
    cursor: pointer;
    border-radius: 0.2rem;
    outline: none;
    opacity: 1;
    transition: all cubic-bezier(0.5, 0, 1, 1) 0.3s;
    transition-delay: 0.3s;
}

.calendar_poster {
    width: inherit;
    height: inherit;
}

.poster_library {
    width: 12rem;
    height: 17rem;
    cursor: pointer;
    border-radius: 0.2rem;
    outline: none;
    opacity: 1;
    transition: all cubic-bezier(0.5, 0, 1, 1) 0.3s;
    transition-delay: 0.3s;
}

.calendar_poster_container:hover {
    width: 16rem;
    height: 23rem;
}

.poster_sub_container {
    position: absolute;
    width: 12rem;
    height: 17rem;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(43, 40, 45, 0.5);
    transition: all .5s;
}

.poster_sub_container:hover {
    position: absolute;
    width: 16rem;
    height: 23rem;
    opacity: 1;
    background-color: rgba(43, 40, 45, 0.5);
}

md-card {
    background-color: transparent;
    box-shadow: none;
    margin: 0.1rem;
}

md-card md-card-content {
    padding: 0;
}

md-content {
    width: 100%;
    background-color: transparent;
}

.library_card {
    margin: 0.5rem;
    transition: all cubic-bezier(0.5, 0, 1, 1) 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}

.library_card:hover {
    margin: 0;
    opacity: 0.9;
}

.library_card:hover .poster_library,
.library_card.hover .poster_library {
    width: 12.8rem;
    height: 17.8rem;
}


/*@media (max-width: 1200px) {
    .card {
        min-width: 200px;
    }
    .poster {
        min-width: 200px;
    }
    .poster_sub_container {
        min-width: 200px;
    }
}*/


/*.poster:hover {
    width: 18rem;
    height: 25rem;
    margin: 0;
}*/

.poster.ng-hide {
    opacity: 0;
}

.poster_sub_loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 40, 45, 0.5);
    transition: all .5s;
}

.poster_sub_container:hover {
    opacity: 1;
}

.poster_sub {
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    color: white;
    opacity: 0.95;
    transition: all .1s;
}

.poster_sub_show {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    opacity: 0.95;
    transition: all .1s;
    font-style: normal;
}

.poster_sub_show:focus {
    outline: transparent;
}

.poster_sub_show.icon:hover {
    font-size: 3rem;
}

.poster_sub_show.icon:active {
    -webkit-filter: blur(0.1rem);
}

.poster_sub:focus {
    outline: transparent;
}

.poster_sub.spinner {
    cursor: default;
    top: 50%;
    transform: translate(-50%, -50%);
}

.poster_sub.ep {
    font-size: 2.4rem;
    top: 10%;
    transform: translate(-50%, -10%);
}

.poster_sub.ep:hover {
    font-size: 2.6rem;
}

.poster_sub.ep:active {
    -webkit-filter: blur(0.1rem);
}

.poster_sub.download {
    font-size: 2.4rem;
    top: 45%;
    left: 70%;
    transform: translate(-70%, -45%);
}

.poster_sub.download:hover {
    font-size: 3rem;
}

.poster_sub.download:active {
    -webkit-filter: blur(0.1rem);
}

.poster_sub.play {
    font-size: 2.4rem;
    top: 45%;
    left: 30%;
    transform: translate(-30%, -45%);
}

.poster_sub.play:hover {
    font-size: 3rem;
}

.poster_sub.play:active {
    -webkit-filter: blur(0.1rem);
}

.poster_sub.fav {
    font-size: 2rem;
    top: 80%;
    transform: translate(-50%, -80%);
}

.poster_sub.fav:hover {
    font-size: 3rem;
}

.poster_sub.fav:active {
    -webkit-filter: blur(0.1rem);
}

.calendar_card {
    cursor: pointer;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 4px #888888;
    outline: none;
    transition: all linear 0.5s;
}

.calendar_content {
    overflow-y: hidden;
    height: 24rem;
    top: -2.5rem;
}

.calendar_day {
    position: static;
    left: 50%;
}

.calendar_card:active {
    border-radius: 0.2rem;
    box-shadow: 1px 1px 2px #888888;
}

.borderless {
    box-shadow: 0 0 0 0;
    outline: none;
}

.wp {
    background-size: cover;
    transition: all .5s;
    width: 100%;
    color: white;
    position: relative;
    left: 0;
    top: 0;
}

.wp_gradient {
    color: rgba(43, 40, 45, 1);
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -25%;
    width: 200%;
    height: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, rgba(43, 40, 45, 1), transparent)
}

.bg_today {
    background: rgba(43, 40, 45, 1);
    width: 95%;
    border-radius: 0.2rem;
}

.bg_default {
    background-color: rgba(23, 20, 25, 0.9);
    width: auto;
    border-radius: 0.2rem;
}

#calendar_episode {
    font-size: 1.4rem;
}

section {
    background-color: rgba(23, 20, 25, 0.9);
}

.icons {
    color: #f9fbe7;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.show_episode {
    background-color: rgba(53, 50, 55, 0.9);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    opacity: 0.95;
}

.ep_number {
    font-size: 3rem;
    color: white;
    /*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

.ep_show {
    font-size: 5rem;
    color: white;
    /*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

#root-msg {
    color: white;
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
}

#video_container {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: transparent;
    background-size: cover;
}

#player {
    background-color: transparent !important;
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    transform: none !important;
    margin: 0px !important;
    flex: 1 1 0% !important;
    "

}

.font-10 {
    font-size: 1rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-20 {
    font-size: 2rem;
}

.font-25 {
    font-size: 2.5rem;
}

.font-30 {
    font-size: 3rem;
}

.align-center {
    text-align: center;
}

.msg_download {
    text-align: -webkit-center;
    color: white;
}

.msg_download label {
    color: #cddc39;
    font-size: 1.4rem;
}

.first {
    margin-left: 5rem;
}

.last {
    padding-right: 5rem;
}

#show_title {
    position: fixed;
    top: 2rem;
    font-size: 2rem;
    text-align: center;
    width: calc(100% - 90px);
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
}

.episode_btn {
    position: fixed !important;
    line-height: 0 !important;
    background: rgba(255, 255, 255, 0.9) !important;
    color: rgba(48, 45, 50, 1);
}

.episode_btn:hover {
    background: rgba(255, 255, 255, 0.95) !important;
}

#close_btn {
    position: fixed;
    z-index: 1;
    left: calc(100% - 88px);
    font-size: 1.4rem;
    line-height: 2rem;
}

#close_btn i {
    color: rgba(255, 135, 155, 0.6);
    font-size: 1.2rem;
}

#vlc_btn {
    position: fixed;
    top: 36px;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    left: calc(100% - 88px);
    font-size: 1.2rem;
    line-height: 2rem;
}

.idle {
    opacity: 0;
}

.search-input {
    width: 90%;
    left: 50%;
    transform: translate(-50%, 20%);
    margin-top: 4rem;
}

.search-input input {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.6rem;
    height: 4rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(48, 45, 50, 1);
}

md-progress-linear.md-default-threme .md-bar,
md-progress-linear .md-bar {
    background-color: rgba(208, 227, 222, 1);
}

md-progress-linear {
    height: 20px;
}

md-progress-linear .md-container {
    height: 20px;
}

md-progress-linear .md-container .md-bar {
    height: 20px;
}

.md-button.md-accent.md-fab {
    background-color: rgba(208, 227, 222, 0.5);
}

.md-button.md-accent.md-fab:not([disabled]):hover {
    background-color: rgba(208, 227, 222, 1);
}

md-card md-card-title {
    padding: 12px 16px 16px;
}

.show_card_content {
    position: relative;
    height: 10%;
    min-height: 80px;
    -webkit-transition: all 0.6s ease-in-out;
}

.show_card_content:hover {
    height: 18%;
    min-height: 140px;
}

.show_card_content .hover {
    height: 18%;
    min-height: 140px;
}

.episode_title {
    font-size: 1.4rem;
    text-align: center;
    /*cursor: pointer;*/
    -webkit-transition: font-size 0.6s ease-in-out;
}

.show_card_content:hover .episode_title,
.show_card_content.hover .episode_title {
    font-size: 1.6rem;
}

.episode_title:focus {
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0;
}

.show_card_content:hover .show_actions,
.show_card_content.hover .show_actions {
    visibility: visible;
    opacity: 1;
}

.show_actions {
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0, 1, 1);
    visibility: hidden;
    opacity: 0;
}

.ng-hide:not(.ng-hide-animate) {
    display: none !important;
    transition: all 0.5s linear;
}

.md-button {
    margin: 0;
    padding: 0;
}

.md-button.md-default-threme.md-primary,
.md-button.md-primary {
    background-color: rgba(43, 40, 45, 1);
}


/*.md-button.md-default-threme.md-primary,
.md-button.md-primary:hover {
    background-color: rgba(228, 247, 242, 1);
    color: rgba(43, 40, 45, 1);
}*/

.green {
    color: #47ed57;
}

.hidden {
    visibility: hidden;
}

.day_container:hover .scroll_left,
.day_container.hover .scroll_left {
    left: 0rem;
}

.day_container:hover .scroll_right,
.day_container.hover .scroll_right {
    left: calc(100vw - 2.5rem);
}

.scroll_left {
    position: absolute;
    height: 23rem;
    z-index: 1;
    width: 2.5rem;
    background: linear-gradient(rgba(43, 40, 45, 0), rgb(43, 40, 45) 60%, rgba(43, 40, 45, 0));
    opacity: 0.7;
    left: -2.5rem;
    margin-top: -3.5rem;
    cursor: pointer;
    transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

.scroll_right {
    position: absolute;
    height: 23rem;
    z-index: 1;
    width: 2.5rem;
    background: linear-gradient(rgba(43, 40, 45, 0), rgb(43, 40, 45) 60%, rgba(43, 40, 45, 0));
    opacity: 0.7;
    left: 100vw;
    cursor: pointer;
    margin-top: -3.5rem;
    transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

.scroll_left i {
    color: white;
    font-size: 2rem;
    top: 50%;
    left: 25%;
    position: absolute;
}

.scroll_right i {
    color: white;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    position: absolute;
}
