<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="App" ng-cloak>
    <!-- SEARCH -->
    <md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab" style="background-color: white;">
                <ng-md-icon icon="search" ng-show="!search_loading"></ng-md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <div>
                <md-button class="md-button md-raised" ng-click="openDialog($event, item)">
                    Movie
                </md-button>
            </div>
            <div>
                <md-button class="md-button md-raised" ng-click="openDialog($event, item)">
                    Show
                </md-button>
            </div>
            <div>
                <md-button class="md-button md-raised" ng-click="openDialog($event, item)">
                    Episode
                </md-button>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="library" name="library">Library</md-nav-item>
        <md-nav-item md-nav-sref="favourites" name="favourites">Favourites</md-nav-item>
        <md-nav-item md-nav-sref="calendar" name="calendar">Calendar</md-nav-item>
    </md-nav-bar>
    <!--     <md-content layout-gt-sm="row" layout-padding>
        <form ng-submit="search()">
            <md-input-container>
                <label>Show</label>
                <input ng-model="search.show" required>
            </md-input-container>
            <md-input-container>
                <label>Season</label>
                <input ng-model="search.season" required>
            </md-input-container>
            <md-input-container>
                <label>Episode</label>
                <input ng-model="search.episode" required>
            </md-input-container>
            <md-button type="submit" aria-label="Search">
                <ng-md-icon icon="search" ng-show="!search_loading"></ng-md-icon>
            </md-button>
        </form>
    </md-content> -->
    <!-- INJECT IT ALL -->
    <ui-view>
        <div layout="column" layout-fill layout-align="center center">
            <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
        </div>
    </ui-view>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ngElectron  -->
    <script type="text/javascript">
    require('./frontend/app.js')
    </script>
</body>

</html>
