<section layout="column" id="video_container" layout="column">
    <md-button aria-label="Open with VLC" class="md-button" id="vlc_btn" ng-click="vlc()">VLC</md-button>
    <md-button aria-label="Back" class="md-button" id="close_btn" ng-click="back()">
        <i class="poster_sub_show icon fa fa-times" aria-hidden="true"></i>
    </md-button>
    <!-- <md-button aria-label="Back" class="md-button" id="close_btn" ng-click="back()">X</md-button> -->
    <label id="show_title">{{ show }} {{ episode }}</label>
    <label id="root-msg" ng-show="$root.msg.length > 0" style="font-size: 1.6em;">{{ $root.msg }}</label>
    <div ng-show="torrent_msg.progress < 100" layout="column" layout-align="center center" layout-wrap>
        <div class="msg_download" ng-show="torrent_msg.speed">
            <label>{{ torrent_msg.speed }}</label>
        </div>
        <div class="msg_download" ng-show="torrent_msg.remaining">
            <label>{{ torrent_msg.remaining }}</label>
        </div>
        <div class="msg_download" ng-show="torrent_msg.progress">
            <label>{{ torrent_msg.progress }} %</label>
        </div>
    </div>
    <video id="player" autoplay controls preload="auto"></video>
</section>
