<section layout="column" id="video_container" layout="column">
    <md-button ng-if="!alt" aria-label="Alternate" id="alt_btn" class="md-fab" ng-class="isIdle ? 'idle' : ''" ng-click="alternate()">ALT</md-button>
    <md-button aria-label="menu" class="md-fab" ng-class="isIdle ? 'idle' : ''" id="close_btn" ng-click="back()" style="position: fixed; float: right;">
        <ng-md-icon icon="close"></ng-md-icon>
    </md-button>
    <label id="root-msg" ng-show="$root.msg.length > 0" style="font-size: 1.6em;">{{ $root.msg }}</label>
    <div ng-show="torrent_msg.progress < 100" layout="column" layout-align="center center" layout-wrap>
        <div class="msg_download" ng-show="torrent_msg.speed">
            <label>{{ torrent_msg.speed }}</label>
        </div>
        <div class="msg_download" ng-show="torrent_msg.remaining">
            <label>{{ torrent_msg.remaining }}</label>
        </div>
        <div class="msg_download" ng-show="torrent_msg.progress">
            <label>{{ torrent_msg.progress }} %</label>
        </div>
    </div>
    <video id="player" autoplay controls preload="auto" width="100%" height="auto"></video>
</section>
