<md-nav-bar md-selected-nav-item="$root.currentNavItem" nav-bar-aria-label="navigation links" class="md-primary" layout layout-align="center center" ng-if="!isBack">
    <md-nav-item md-nav-sref="app.library" name="library" aria-label="Library">
        <i class="white fa fa-play" aria-hidden="true"></i>
    </md-nav-item>
    <!-- <md-nav-item md-nav-sref="app.favourites" name="favourites">
        <i class="white fa fa-heart" aria-hidden="true" aria-label="My shows"></i>
    </md-nav-item> -->
    <md-nav-item md-nav-sref="app.calendar" name="calendar" aria-label="Calendar">
        <i class="white fa fa-calendar-o" aria-hidden="true"></i>
    </md-nav-item>
    <md-nav-item md-nav-sref="app.pending" name="pending" aria-label="Pending">
        <i class="white fa fa-download" aria-hidden="true"></i>
    </md-nav-item>
    <md-nav-item md-nav-sref="app.search" name="search" aria-label="Search">
        <i class="white fa fa-search" aria-hidden="true"></i>
    </md-nav-item>
    <md-nav-item ng-if="$root.current_show" md-nav-sref="app.show( { show: $root.current_show} )" name="show">{{ current_show }}</md-nav-item>
</md-nav-bar>
<!-- <md-nav-bar layout layout-align="center center" ng-if="isBack">
    <md-button aria-label="menu" class="md-fab back" ng-click="back()">
        <ng-md-icon icon="chevron_left" ng-show="!search_loading"></ng-md-icon>
    </md-button>
</md-nav-bar>
 -->
<!-- <md-button aria-label="menu" class="md-fab" id="close_btn" ng-click="back()" ng-if="isBack" style="position: fixed; float: right;">
    <ng-md-icon icon="close"></ng-md-icon>
</md-button> -->
