<section layout="column" layout="column" style="margin-top: 68px;">
    <label ng-if="$root.pending.length == 0" id="root-msg" style="font-size: 2em;">No pending downloads</label>
    <md-card class="pending_card" ng-show="torrent.progress < 100" ng-repeat="torrent in $root.pending | orderBy : '-progress' : reverse = false track by $index" layout-align="start">
        <md-card-content layout-align="start center">
            <md-progress-linear md-mode="determinate" value="{{ torrent.progress }}"></md-progress-linear>
            <md-card-title layout="row" layout-align="space-between center">
                <div flex="55">
                    <label>{{ torrent.show }}</label>
                </div>
                <div flex="15">
                    <label>{{ torrent.episode }}</label>
                </div>
                <div flex="15">
                    <label>{{ torrent.speed }}</label>
                </div>
                <div flex="15">
                    <label>{{ torrent.eta_label }}</label>
                </div>
                <div>
                    <md-button aria-label="menu" class="md-fab md-mini md-accent" ng-click="remove(torrent)">
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-button>
                </div>
                <!-- <label style="font-size: 2em;">{{ torrent.title }}</label> -->
            </md-card-title>
        </md-card-content>
    </md-card>
</section>
