<section layout="column" layout-align="center center">
    <md-content>
        <div class="show_recap" layout-padding>
            <h1 class="title">{{ show.Title }}</h1>
            <div layout="row" layout-align="space-around center">
                <span ng-if="show.Trailer">
                    <md-button aria-label="Trailer" class="md-button trailer" ng-click="playTrailer()">Trailer</md-button>
                </span>
                <label class="network">{{ show.Network }}</label>
                <label class="runtime">{{ show.Runtime }}min</label>
                <div class="genre">
                    <label ng-repeat="genre in show.Genres">{{ genre }}</label>
                </div>
            </div>
        </div>
        <div>
             <md-progress-linear class="thin" ng-show="showIsLoading" md-mode="indeterminate"></md-progress-linear>
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect id="episode_list">
                <md-tab ng-repeat="(season, episodes) in show.Seasons" label="Season {{ season }}">
                    <md-card class="borderless show_episode" ng-repeat="(episodeN, episode) in episodes track by $index" layout-align="start">
                        <md-card-content class="show_card_content" ng-class="episode.eta || episode.loading ? 'hover' : ''" layout-align="center center" layout="row">
                            <md-card-title layout="row" flex="80" layout-align="center center">
                                <div flex="20" layout="column" style="min-width: 100px;">
                                    <label style="font-size: 1.8rem;">{{ episode.episode }}</label>
                                    <label style="font-size: 1.2rem;">{{ episode.timePassed ? episode.timePassed : ''}}</label>
                                </div>
                                <label class="episode_title" flex="80">{{ episode.title }} </label>
                            </md-card-title>
                            <label ng-class="dotClass(episode)" flex="2">&#9679</label>
                            <md-card-title layout="column" class="show_actions" flex="18" layout-align="center center" style="min-width: 100px;">
                                <!-- PLAY -->
                                <div ng-if="dotClass(episode) != 'hidden'" layout="column">
                                    <md-button ng-if="!episode.loading && episode.downloaded" aria-label="Play" class="md-button" ng-click="play({ label: episode.episode, s: season, e: episodeN})">PLAY</md-button>
                                    <!-- STREAM -->
                                    <md-button aria-label="Stream" class="md-button" ng-click="stream({ label: episode.episode, s: season, e: episodeN})">STREAM</md-button>
                                    <!-- DOWNLOAD -->
                                    <md-button aria-label="Stream" class="md-button" ng-if="!episode.loading && !episode.downloaded && !episode.eta" ng-click="downloadEpisode({ label: episode.episode, s: season, e: episodeN})">DOWNLOAD</md-button>
                                    <!-- ETA -->
                                    <i ng-if="!episode.loading && !episode.downloaded && episode.eta && episode.eta.indexOf('NaN') == -1" class="poster_sub_show" aria-hidden="true" style="font-size: 1.2rem; text-align: center;">{{ episode.eta }}</i>
                                    <!-- DELETE -->
                                    <md-button aria-label="Stream" class="md-button" ng-if="!episode.loading && episode.downloaded" ng-click="deleteEpisode({ label: episode.episode, s: season, e: episodeN})">
                                        <i class="poster_sub_show icon fa fa-trash" aria-hidden="true" style="color: white; font-size: 1.2rem;"></i>
                                    </md-button>
                                    <!-- LOADING -->
                                    <md-button aria-label="Loading" class="md-button" ng-if="episode.loading">
                                        <i class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="top: 0.1rem;"></i>
                                    </md-button>
                                </div>
                            </md-card-title>
                        </md-card-content>
                    </md-card>
                </md-tab>
            </md-tabs>
        </div>
    </md-content>
</section>
