<section>
    <div ng-repeat="day in $root.days | limitTo:8 | orderBy:'-date' " flex layout="column" ng-class="$index == 5 ? '' : ''" layout-align="center center">
        <div ng-style="{ 'color' : ($index == 5 ? '':'')}" style="padding-bottom: 0.4em; padding-top: 4em;">
            <span class="md-content-1" style="text-align: center; margin-bottom: 0; color: white; font-size:3em;">{{ day.dateObj.dotw }}</span>
            <span class="md-subhead" style="text-align: center; margin-top: 0; margin-bottom: 0; color: white; font-size: 2.2em; padding: 0.4em;">{{ day.dateObj.month }} {{ day.dateObj.dotm }}</span>
        </div>
        <md-content ng-class="$index == 5 ? '' : ''" layout layout-wrap layout-align="center center" class="bg_default" style="background-color: white; padding: 1vw;">
            <md-card ng-repeat="show in day.shows | filter:posterOnly" layout="row" layout-align="center center" ng-class="show.poster ? 'borderless' : 'calendar_card'" style="width: 15vw;">
                <md-card-content ng-if="show.poster" style="position: relative;">
                    <img ng-src="{{ show.poster }}" class="poster_episode md-card-image poster">
                    <div ng-show="!show.loading" class="poster_sub_container">
                        <span ui-sref="app.episode( { show: show.title, episode: show.episode } )" class="poster_sub ep" aria-hidden="true">{{ show.episode }}</span>
                        <i ui-sref="app.episode( { show: show.title, episode: show.episode } )" class="poster_sub play text_bg_lime fa fa-play" aria-hidden="true"></i>
                        <i ng-click="downloadEpisode( { show: show.title, episode: show.episode } )" class="poster_sub download text_bg_lime fa fa-download" aria-hidden="true"></i>
                        <i class="poster_sub fav text_bg_lime fa fa-heart" aria-hidden="true" style=""></i>
                    </div>
                </md-card-content>
                <md-card-content ng-if="!show.poster" style="position: relative; width: 15vw;">
                    <md-card-title layout="column" class="calendar_title" style="height: 240px;">
                        <label class="md-subhead" style="text-align: center;">{{ show.title }}</label>
                        <label id="calendar_episode" class="md-subhead" style="text-align: center;">{{ show.episode }}</label>
                    </md-card-title>
                    <div ng-show="!show.loading" class="poster_sub_container">
                        <span ui-sref="app.episode( { show: show.title, episode: show.episode } )" class="poster_sub ep" aria-hidden="true">{{ show.episode }}</span>
                        <i ui-sref="app.episode( { show: show.title, episode: show.episode } )" class="poster_sub play text_bg_lime fa fa-play" aria-hidden="true"></i>
                        <i ng-click="downloadEpisode( { show: show.title, episode: show.episode } )" class="poster_sub download text_bg_lime fa fa-download" aria-hidden="true"></i>
                        <i class="poster_sub fav text_bg_lime fa fa-heart" aria-hidden="true" style=""></i>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</section>
