<section layout="column">
    <md-content style="z-index:20; background: transparent;">
        <md-card-title layout="column" style="padding:10px 10px 10px;">
            <span layout-padding class="ep_show" style="text-align: center;">{{ show }}</span>
            <span class="ep_number" style="text-align: center;">{{ episode }}</span>
            <!-- <div layout="row" layout-padding layout-align="center center" ng-show="show">
                <md-button class="md-button md-raised" ng-click="openDialog($event, item)">Stream This Episode</md-button>
                <md-button class="md-button md-raised" ng-click="openDialog($event, item)">Download This Episode</md-button>
            </div> -->
            <div layout="row" layout-padding layout-align="center center" ng-show="show">
            </div>
        </md-card-title>
    </md-content>
    <div style="position: absolute; height: auto; top: 40px;">
        <img ng-show="poster" ng-src="{{ poster }}" ng-click="watch(local)" class="wp">
        <span class="wp_gradient"></span>
    </div>
</section>
