<md-nav-bar md-selected-nav-item="$root.currentNavItem" nav-bar-aria-label="navigation links" class="md-primary" layout layout-align="center center" ng-if="!isBack">
  <md-nav-item md-nav-sref="app.library" name="library" aria-label="Library">
    <i class="white fa fa-play" aria-hidden="true"></i>
  </md-nav-item>
  <!-- <md-nav-item md-nav-sref="app.favourites" name="favourites">
  <i class="white fa fa-heart" aria-hidden="true" aria-label="My shows"></i>
</md-nav-item> -->
<md-nav-item md-nav-sref="app.calendar" name="calendar" aria-label="Calendar">
  <i class="white fa fa-calendar-o" aria-hidden="true"></i>
</md-nav-item>
<md-nav-item md-nav-sref="app.pending" name="pending" aria-label="Pending">
  <i class="white fa fa-download" aria-hidden="true"></i>
</md-nav-item>
<md-nav-item md-nav-sref="app.search" name="search" aria-label="Search">
  <i class="white fa fa-search" aria-hidden="true"></i>
</md-nav-item>
<md-nav-item ng-if="$root.current_show.SpacedTitle" md-nav-sref="app.show( { show: $root.current_show.DashedTitle } )" name="show">{{ current_show.SpacedTitle }}</md-nav-item>

<md-fab-speed-dial md-open="" md-direction="down" class="md-scale" id="settings">
  <md-fab-trigger style="transform: translateX(8rem);">
    <md-button aria-label="menu" class="md-fab md-mini md-warn" id="settings_button">
      <i class="white fa fa-cog" aria-hidden="true" md-menu-origin></i>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <div ng-click="$event.stopImmediatePropagation();" layout="row" layout-align="space-between center">
      <label>Automatic download</label>
      <md-switch ng-model="$root.CONFIG.auto_download" aria-label="Automatically downloads new shows"></md-switch>
    </div>
    <!-- <div layout="row" layout-align="space-between center">
      <label>Reload</label>
      <md-button ng-click="$root.reload()" aria-label="refresh" class="md-fab md-mini md-warn" id="reload_button">
        <i class="white fa fa-refresh" aria-hidden="true" md-menu-origin></i>
      </md-button>
    </div> -->
  </md-fab-actions>
</md-fab-speed-dial>
<label id="update_progress">{{ $root.update_progress }}</label>
</md-nav-bar>
